name: Close Stale Issues

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  issues:
    types: [opened]

jobs:
  stale:
    runs-on: ubuntu-latest

    steps:
      - name: Mark stale issues
        uses: actions/stale@v9
        with:
          stale-issue-message: "This issue is stale due to inactivity."
          close-issue-message: "Closing stale issue."
          days-before-stale: 1
          days-before-close: 1
